.start-score{
  height: clamp(0.5rem, 1.4vw, 0.8rem);
  width: clamp(0.5rem, 1.4vw, 0.8rem);
  padding: 0;
}

.star-container{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

@media only screen and (max-width: 750px){
  .start-score{
    padding: 0;
  }
  .star-container{

    gap: 2.5px;
  }

}